.banner{
    height: 100vh;
    width: 100vw;
}
.banner h1{
    font-family:  'Shippori Antique', sans-serif;
    font-weight: bolder;

}
.header{
    font-size: 50px;
}
.mt-text{
    margin-top: 15%;
}
.button{
    background-color: white;
    border: 2px solid black;
    font-family: 'Roboto';
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}